* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 15px 40px;
}

.logo {
    color: white;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 60px;
    color: white;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

/* dark overlay for text readability */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero-text {
    position: relative;
    z-index: 1;
    max-width: 600px;
}


/* ABOUT SECTION */
.about {
    display: flex;
    align-items: center;
    padding: 60px 40px;
}

.about-image img {
    width: 300px;
    border-radius: 10px;
}

.about-text {
    margin-left: 40px;
}

.about-text h2 {
    margin-bottom: 15px;
}

.about-text button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #007bff;
    border: none;
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}
.hero-image img,
.about-image img {
    width: 400px;
    border: 2px solid red;
}
