body {
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    font-family: Arial;
}




}

.calculator {
    background: #2196f3;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    button:active {
    transform: scale(0.95);
}

}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.operator {
    background: #0d47a1;
    color: white;
}

.equals {
    background: #4caf50;
    color: white;
}

.clear {
    background: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}


