* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* FORM */
#formSection {
    padding: 40px;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: #555;
    color: white;
}

.hero-text {
    width: 55%;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-photo {
    width: 45%;
    display: flex;
    justify-content: center;
}

.hero-photo img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid white;
}

/* ABOUT */
.about {
    padding: 80px;
}

.about h2 {
    margin-bottom: 15px;
}

.about p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn {
    background: #1e90ff;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background: #b8cce6;
}
#formSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f8;
}

.form-card {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.form-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-card label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
}

.form-card input,
.form-card textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-card textarea {
    resize: none;
    height: 80px;
}

.form-card button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #1e90ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.form-card button:hover {
    background: #187bcd;
}
